<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
{% block content %}
        <div>
            <h1><a href="/">Blog</a></h1>
        </div>
    {% for post in posts %}
        <div>
        <h1><a href="">{{ post.title }}</a> </h1>
            <p>{{ post.published_date }}</p>
        <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}

</body>
</html>